/* Custom CSS for Register page */

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  margin-bottom: 20px;
}

form button {
  margin-top: 20px;
}
