<!DOCTYPE html>
<html>
<head>
    <title>Task Detail</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'task_management/css/task_detail.css' %}">
</head>
<body>
    <div class="container">
        <h1>Task Detail</h1>
        <p>This is the task detail page.</p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'task_management/js/task_detail.js' %}"></script>
</body>
</html>
