<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'web_panel/css/dashboard.css' %}">
</head>
<body>
    <div class="container">
        <h1>Dashboard</h1>
        <p>Welcome to the dashboard!</p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'web_panel/js/dashboard.js' %}"></script>
</body>
</html>
