<!DOCTYPE html>
<html>
<head>
    <title>User Password Update</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class="container">
        <h1>User Password Update</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="current_password">Current Password:</label>
            <input type="password" id="current_password" name="current_password">
            <br>
            <label for="new_password">New Password:</label>
            <input type="password" id="new_password" name="new_password">
            <br>
            <button class="btn waves-effect waves-light" type="submit">Update Password</button>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
