<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'user_management/css/profile.css' %}">
</head>
<body>
    <div class="container">
        <h1>User Profile</h1>
        <p>This is the user profile page.</p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'user_management/js/profile.js' %}"></script>
</body>
</html>
